# Build output
bin/
obj/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Test results
TestResults/
*.trx

# Rider / IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs & Local Secrets
*.log
appsettings.*.local.json
appsettings.local.json
